.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.contenedor-padre {
  margin-top: 8px;
  margin-right: 5px;
  height: 150em;
  max-height: 160em;
  /* Ajusta este valor según el tamaño de tus mensajes */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* Cambiar la dirección del flujo a columna */
  align-items: flex-end;
  /* Para alinear los mensajes a la derecha */
}

.message-container {
  margin-top: 8px;
  margin-right: 5px;
}

.message-item {
  list-style: none;
  background-color: rgb(28, 200, 138);
  color: white;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  word-wrap: break-word; /* Evita el desbordamiento horizontal */
  margin-bottom: 10px; /* Espacio entre los mensajes */
  align-items: center; /* Alinea verticalmente los elementos */
  overflow: hidden;

}


.messageBox {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgb(63, 63, 63);
  margin-top: auto;
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}

.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fileUploadWrapper label svg {
  height: 18px;
}

.fileUploadWrapper label svg path {
  transition: all 0.3s;
}

.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}

.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}

.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}

.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #000;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}

#messageInput {
  width: 4000px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
  margin-right: 43px;
}

#messageInput:focus~#sendButton svg path,
#messageInput:valid~#sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

.ul-chat {
  height: 350px;
}

.messageBox {
  display: flex;
  align-items: center;
  /* Centra verticalmente los elementos */
}


.fileUploadWrapper {
  margin-right: 23px;
}

#sendButton {
  margin-left: auto;
  /* Empuja el botón de enviar a la derecha */
}
.message-item:hover {
  background-color: #333; /* Cambia el color de fondo al pasar el cursor sobre el mensaje */
  cursor: pointer; /* Cambia el cursor al puntero */
}


.message-time {
  position: relative;
  top: 15px;
  left: 4px;
  font-size: 12px;
}

.message-time2 {
  position: relative;
  top: 10px;
  left: 4px;
  font-size: 12px;
}
.message-ver {
  position: flex;
  top: 14px;
  left: 12px;
  right: 1px;
  font-size: 12px;
  margin-left: 12px;
  color: rgb(18, 87, 1); /* Cambiar el color del texto a azul */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el texto */
}

.message-ver:hover {
  text-decoration: underline; /* Subrayar el texto cuando se pasa el cursor sobre él */
  color: white; /* Cambiar el color al pasar el cursor sobre él */
}

@keyframes expandMessage {
  from {
    max-height: 0;
    transform: translateY(25%);
  }
  to {
    max-height: 500px; /* Ajusta según sea necesario */
    transform: translateY(0%);
  }
}


.expanded {
  animation: expandMessage 1s ease forwards; /* Detiene la animación al finalizar */
}

@keyframes closeMessage {
  from {
    max-height: 100px; /* Ajusta según sea necesario */
    transform: translateY(25%);
  }
  to {
    max-height: 500px;
    transform: translateY(0%);
  }
}
/* Aplica la animación a los elementos que se cierran */
.collapsed {
  animation: closeMessage 0.5s ease forwards; /* Detiene la animación al finalizar */
}


select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #2d2d2d;
  background-image: none;
  cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select1 {
  position: relative;
  display: flex;
  width: 9em;
  /*height: 3em;*/
  border-radius: .25em;
  overflow: hidden;
}

/* Arrow */
.select1::after {
  content: '\25BC';
  position: absolute;
  top: -15px;
  right: 0px;
  padding: 1em;
  /* background-color: #ffffff; */
  transition: .25s all ease;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: #f39c12;
}

.name-user{
  border: 1px solid;
  position: relative;
  top: 5px;
  z-index: 0;
  border-radius: 5px 5px 0 0;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 2px;
}
.lati {
  position: absolute;
  bottom: 0; /* Posiciona el div en la parte inferior del contenedor del mapa */
  left: 0; /* Alinea el div a la izquierda del contenedor del mapa */
  width: 100%;
  padding: 10px; /* Asegura que el div se extienda a lo ancho del contenedor del mapa */ /* Sombra para darle profundidad */
 }
 .leaflet-control-coordinates{
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejor legibilidad */ /* Espacio interno alrededor del texto */
  border-radius: 5px; /* Bordes redondeados para un aspecto más agradable */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  color: rgb(4, 131, 55);
  font-size: 12px;
  font-weight: 600;
 }
 .leaflet-popup-pane, .leaflet-control{
  cursor: pointer !important;
 }
  .leaflet-touch {
      z-index: 0;
  }